/* GENERAL
================================================================================
*/
/* Scrollbar */
html::-webkit-scrollbar {
  background-color: #343434;
}
html::-webkit-scrollbar-thumb {
  background: #757575;
}

/* Remplacement du nom du thème par défaut */
.dropdown .background div a:first-child {
  position: relative;
  font-size: 0;
}

/* Masquage des éléments inutiles */
/*.lobby__support,*/
.lobby__support,
.connect-links,
.lobby__blog,
.lobby__forum,
.lobby__about,
.lobby__streams a[href^="/streamer"] {
  display: none !important;
}

/* Grands écrans
================================================================================
*/
@media (min-width: 1274px) {
  .lobby__tournaments {
    margin-top: 0;
  }
}

/* Petits écrans
================================================================================
*/
@media (max-width: 1273px) {
  .lobby__support {
    margin-top: -125px;
  }
}
